.consulta{
text-align: left;
color: black;
margin-top: 1vh;
margin-bottom: 5vh;


.formulario {
        text-align: center;
        margin-top: 8vh;
        max-width : 560px;
        padding: 20px;
        background-color: #e1dfdf;
        border-radius: 5px;
        font-size: larger;
        font-weight: bold;

input{
max-width: 520px;
}
textarea{
  max-width: 520px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
}
}


