/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0%;    
    margin: 0 auto;
    position: fixed;
    top: 0;
    background-color: rgb(4, 149, 222);
div{
    width: 110px;
    height: 110px;
    margin: none;
.logo{
      width: 110px;
      height: 110px;
    }
  }
}